--
-- PostgreSQL database dump
--

\restrict I8pavdUMYOheJqYNFRNaP0YV29AdHxVz7pse3AE7RD5AYwTIweTnm0yQj9NPxLN

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: equipment_repair_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.equipment_repair_status AS ENUM (
    'pending_intake',
    'in_transit',
    'received',
    'in_repair',
    'repair_completed',
    'ready_for_pickup',
    'out_for_delivery',
    'returned'
);


--
-- Name: job_priority; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.job_priority AS ENUM (
    'low',
    'medium',
    'high',
    'urgent'
);


--
-- Name: job_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.job_status AS ENUM (
    'pending',
    'assigned',
    'in_progress',
    'completed',
    'cancelled',
    'on_hold'
);


--
-- Name: notification_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.notification_status AS ENUM (
    'pending',
    'sent',
    'delivered',
    'failed'
);


--
-- Name: notification_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.notification_type AS ENUM (
    'email',
    'sms',
    'whatsapp',
    'push'
);


--
-- Name: part_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.part_status AS ENUM (
    'available',
    'low_stock',
    'out_of_stock',
    'discontinued'
);


--
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'super_admin',
    'admin',
    'manager',
    'technician',
    'customer'
);


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


--
-- Name: update_work_order_inventory_orders_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_work_order_inventory_orders_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    table_name character varying(100) NOT NULL,
    record_id uuid NOT NULL,
    action character varying(20) NOT NULL,
    old_values jsonb,
    new_values jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.companies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    address text,
    phone character varying(20),
    email character varying(255),
    website character varying(255),
    logo_url text,
    business_type character varying(100),
    tax_id character varying(50),
    license_number character varying(100),
    timezone character varying(50) DEFAULT 'UTC'::character varying,
    currency character varying(3) DEFAULT 'USD'::character varying,
    date_format character varying(20) DEFAULT 'MM/DD/YYYY'::character varying,
    time_format character varying(10) DEFAULT '12h'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: company_certifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_certifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    name character varying(255) NOT NULL,
    description text,
    issuing_organization character varying(255),
    validity_period_months integer,
    renewal_required boolean DEFAULT false,
    renewal_notice_days integer DEFAULT 30,
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: company_skills; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.company_skills (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100),
    is_active boolean DEFAULT true,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: customer_equipment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_equipment (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    customer_id uuid,
    equipment_type_id uuid,
    serial_number character varying(255) NOT NULL,
    asset_tag character varying(100),
    purchase_date date,
    warranty_expiry date,
    installation_date date,
    location_details text,
    condition character varying(50) DEFAULT 'good'::character varying,
    last_service_date date,
    next_service_date date,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    user_id uuid,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(20) NOT NULL,
    whatsapp_number character varying(20),
    address text NOT NULL,
    location_coordinates point,
    company_name character varying(255),
    industry character varying(100),
    company_size character varying(50),
    business_type character varying(100),
    tax_id character varying(50),
    website character varying(255),
    billing_address text,
    billing_contact_name character varying(255),
    billing_contact_email character varying(255),
    billing_contact_phone character varying(20),
    preferred_contact_method character varying(50) DEFAULT 'phone'::character varying,
    service_tier character varying(50) DEFAULT 'standard'::character varying,
    contract_type character varying(50),
    contract_start_date date,
    contract_end_date date,
    payment_terms character varying(100),
    credit_limit numeric(10,2),
    discount_percentage numeric(5,2) DEFAULT 0.00,
    priority_level character varying(20) DEFAULT 'normal'::character varying,
    assigned_account_manager uuid,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: equipment_intake; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment_intake (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    job_id uuid NOT NULL,
    company_id uuid NOT NULL,
    intake_date timestamp with time zone DEFAULT now() NOT NULL,
    received_by uuid,
    reported_issue text NOT NULL,
    visual_condition text,
    physical_damage_notes text,
    accessories_included text,
    customer_signature text,
    customer_notes text,
    internal_notes text,
    estimated_repair_time integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE equipment_intake; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.equipment_intake IS 'Records equipment condition and details when received at workshop';


--
-- Name: equipment_inventory_compatibility; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment_inventory_compatibility (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    equipment_type_id uuid,
    part_id uuid,
    compatibility_type character varying(50) DEFAULT 'compatible'::character varying,
    usage_notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: equipment_status; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment_status (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    job_id uuid NOT NULL,
    company_id uuid NOT NULL,
    current_status public.equipment_repair_status DEFAULT 'pending_intake'::public.equipment_repair_status NOT NULL,
    pending_intake_at timestamp with time zone,
    in_transit_at timestamp with time zone,
    received_at timestamp with time zone,
    in_repair_at timestamp with time zone,
    repair_completed_at timestamp with time zone,
    ready_for_pickup_at timestamp with time zone,
    out_for_delivery_at timestamp with time zone,
    returned_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE equipment_status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.equipment_status IS 'Tracks current status of equipment in workshop repair process';


--
-- Name: equipment_status_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment_status_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    equipment_status_id uuid NOT NULL,
    job_id uuid NOT NULL,
    from_status public.equipment_repair_status,
    to_status public.equipment_repair_status NOT NULL,
    changed_at timestamp with time zone DEFAULT now() NOT NULL,
    changed_by uuid,
    notes text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE equipment_status_history; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.equipment_status_history IS 'Audit trail of all equipment status changes';


--
-- Name: equipment_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.equipment_types (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    name character varying(255) NOT NULL,
    brand character varying(255) NOT NULL,
    model character varying(255) NOT NULL,
    category character varying(100),
    description text,
    manual_url text,
    warranty_period_months integer DEFAULT 12,
    image_url text,
    specifications jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: intake_photos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.intake_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    equipment_intake_id uuid NOT NULL,
    photo_url text NOT NULL,
    photo_type character varying(50),
    caption text,
    taken_at timestamp with time zone DEFAULT now(),
    uploaded_by uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE intake_photos; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.intake_photos IS 'Photos taken during equipment intake process';


--
-- Name: inventory_order_status_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventory_order_status_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    order_id uuid NOT NULL,
    old_status character varying(20) NOT NULL,
    new_status character varying(20) NOT NULL,
    changed_by uuid NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: job_parts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_parts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    job_id uuid,
    part_id uuid,
    quantity_used integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    total_price numeric(10,2) GENERATED ALWAYS AS (((quantity_used)::numeric * unit_price)) STORED,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: job_photos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.job_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    job_id uuid,
    photo_url text NOT NULL,
    caption text,
    taken_at timestamp with time zone DEFAULT now(),
    uploaded_by uuid,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: jobs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.jobs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    customer_id uuid,
    equipment_id uuid,
    technician_id uuid,
    job_number character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    priority public.job_priority DEFAULT 'medium'::public.job_priority,
    status public.job_status DEFAULT 'pending'::public.job_status,
    scheduled_date timestamp with time zone,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    estimated_duration integer,
    actual_duration integer,
    customer_signature text,
    technician_notes text,
    customer_feedback text,
    rating integer,
    total_cost numeric(10,2),
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    due_date date,
    location_type character varying(20) DEFAULT 'on_site'::character varying,
    estimated_completion_date date,
    pickup_delivery_fee numeric(10,2) DEFAULT 0.00,
    delivery_scheduled_date timestamp with time zone,
    delivery_technician_id uuid,
    CONSTRAINT jobs_location_type_check CHECK (((location_type)::text = ANY ((ARRAY['on_site'::character varying, 'workshop'::character varying])::text[]))),
    CONSTRAINT jobs_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


--
-- Name: COLUMN jobs.due_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.due_date IS 'Target completion date for the work order';


--
-- Name: COLUMN jobs.location_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.location_type IS 'Indicates whether job is performed on-site or at workshop';


--
-- Name: COLUMN jobs.estimated_completion_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.estimated_completion_date IS 'Estimated date when workshop repair will be completed';


--
-- Name: COLUMN jobs.pickup_delivery_fee; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.pickup_delivery_fee IS 'Fee charged for equipment pickup or delivery';


--
-- Name: COLUMN jobs.delivery_scheduled_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.delivery_scheduled_date IS 'Scheduled date and time for equipment delivery';


--
-- Name: COLUMN jobs.delivery_technician_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.jobs.delivery_technician_id IS 'Technician assigned to deliver repaired equipment';


--
-- Name: mail_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.mail_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    smtp_host character varying(255),
    smtp_port integer DEFAULT 587,
    smtp_secure boolean DEFAULT false,
    smtp_user character varying(255),
    smtp_password character varying(255),
    from_name character varying(255) DEFAULT 'FSM Pro'::character varying,
    from_email character varying(255),
    is_enabled boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    recipient_id uuid,
    job_id uuid,
    type public.notification_type NOT NULL,
    title character varying(255) NOT NULL,
    message text NOT NULL,
    status public.notification_status DEFAULT 'pending'::public.notification_status,
    sent_at timestamp with time zone,
    delivered_at timestamp with time zone,
    metadata jsonb,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: parts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    part_number character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    category character varying(100),
    equipment_type_id uuid,
    unit_price numeric(10,2) NOT NULL,
    cost_price numeric(10,2),
    current_stock integer DEFAULT 0,
    min_stock_level integer DEFAULT 0,
    max_stock_level integer DEFAULT 100,
    status public.part_status DEFAULT 'available'::public.part_status,
    supplier_info jsonb,
    compatible_equipment uuid[],
    image_url text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: technician_certifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.technician_certifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    technician_id uuid,
    certification_id uuid,
    certification_number character varying(255),
    issued_date date,
    expiration_date date,
    issuing_organization character varying(255),
    document_url text,
    is_verified boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: technician_skills; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.technician_skills (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    technician_id uuid,
    skill_id uuid,
    proficiency_level integer DEFAULT 1,
    years_experience integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT technician_skills_proficiency_level_check CHECK (((proficiency_level >= 1) AND (proficiency_level <= 5)))
);


--
-- Name: technicians; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.technicians (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    user_id uuid,
    employee_id character varying(50) NOT NULL,
    hourly_rate numeric(10,2),
    is_available boolean DEFAULT true,
    current_location point,
    max_jobs_per_day integer DEFAULT 8,
    working_hours jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(20),
    role public.user_role DEFAULT 'customer'::public.user_role NOT NULL,
    is_active boolean DEFAULT true,
    avatar_url text,
    email_verified boolean DEFAULT false,
    email_verification_token character varying(255),
    password_reset_token character varying(255),
    password_reset_expires timestamp with time zone,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: work_order_inventory_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.work_order_inventory_orders (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    work_order_id uuid NOT NULL,
    part_id uuid NOT NULL,
    quantity integer NOT NULL,
    unit_price numeric(10,2) DEFAULT 0.00 NOT NULL,
    total_price numeric(10,2) GENERATED ALWAYS AS (((quantity)::numeric * unit_price)) STORED,
    ordered_by uuid NOT NULL,
    ordered_at timestamp with time zone DEFAULT now(),
    status character varying(20) DEFAULT 'ordered'::character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT work_order_inventory_orders_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT work_order_inventory_orders_status_check CHECK (((status)::text = ANY ((ARRAY['ordered'::character varying, 'accepted'::character varying, 'delivered'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: workshop_settings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.workshop_settings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    max_concurrent_jobs integer DEFAULT 20,
    max_jobs_per_technician integer DEFAULT 5,
    default_estimated_repair_hours integer DEFAULT 24,
    default_pickup_delivery_fee numeric(10,2) DEFAULT 0.00,
    workshop_address text,
    workshop_phone character varying(20),
    workshop_hours jsonb,
    send_intake_confirmation boolean DEFAULT true,
    send_ready_notification boolean DEFAULT true,
    send_status_updates boolean DEFAULT true,
    intake_confirmation_template text,
    ready_notification_template text,
    status_update_template text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE workshop_settings; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.workshop_settings IS 'Company-specific workshop configuration and settings';


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_certifications company_certifications_company_id_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_certifications
    ADD CONSTRAINT company_certifications_company_id_name_key UNIQUE (company_id, name);


--
-- Name: company_certifications company_certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_certifications
    ADD CONSTRAINT company_certifications_pkey PRIMARY KEY (id);


--
-- Name: company_skills company_skills_company_id_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_skills
    ADD CONSTRAINT company_skills_company_id_name_key UNIQUE (company_id, name);


--
-- Name: company_skills company_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_skills
    ADD CONSTRAINT company_skills_pkey PRIMARY KEY (id);


--
-- Name: customer_equipment customer_equipment_company_id_serial_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_equipment
    ADD CONSTRAINT customer_equipment_company_id_serial_number_key UNIQUE (company_id, serial_number);


--
-- Name: customer_equipment customer_equipment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_equipment
    ADD CONSTRAINT customer_equipment_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: equipment_intake equipment_intake_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_intake
    ADD CONSTRAINT equipment_intake_job_id_key UNIQUE (job_id);


--
-- Name: equipment_intake equipment_intake_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_intake
    ADD CONSTRAINT equipment_intake_pkey PRIMARY KEY (id);


--
-- Name: equipment_inventory_compatibility equipment_inventory_compatibility_equipment_type_id_part_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_inventory_compatibility
    ADD CONSTRAINT equipment_inventory_compatibility_equipment_type_id_part_id_key UNIQUE (equipment_type_id, part_id);


--
-- Name: equipment_inventory_compatibility equipment_inventory_compatibility_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_inventory_compatibility
    ADD CONSTRAINT equipment_inventory_compatibility_pkey PRIMARY KEY (id);


--
-- Name: equipment_status_history equipment_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status_history
    ADD CONSTRAINT equipment_status_history_pkey PRIMARY KEY (id);


--
-- Name: equipment_status equipment_status_job_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_job_id_key UNIQUE (job_id);


--
-- Name: equipment_status equipment_status_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_pkey PRIMARY KEY (id);


--
-- Name: equipment_types equipment_types_company_id_brand_model_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_types
    ADD CONSTRAINT equipment_types_company_id_brand_model_key UNIQUE (company_id, brand, model);


--
-- Name: equipment_types equipment_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_types
    ADD CONSTRAINT equipment_types_pkey PRIMARY KEY (id);


--
-- Name: intake_photos intake_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.intake_photos
    ADD CONSTRAINT intake_photos_pkey PRIMARY KEY (id);


--
-- Name: inventory_order_status_log inventory_order_status_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_order_status_log
    ADD CONSTRAINT inventory_order_status_log_pkey PRIMARY KEY (id);


--
-- Name: job_parts job_parts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_parts
    ADD CONSTRAINT job_parts_pkey PRIMARY KEY (id);


--
-- Name: job_photos job_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_photos
    ADD CONSTRAINT job_photos_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_job_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_job_number_key UNIQUE (job_number);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: mail_settings mail_settings_company_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT mail_settings_company_id_key UNIQUE (company_id);


--
-- Name: mail_settings mail_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT mail_settings_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: parts parts_part_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_part_number_key UNIQUE (part_number);


--
-- Name: parts parts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_pkey PRIMARY KEY (id);


--
-- Name: technician_certifications technician_certifications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_certifications
    ADD CONSTRAINT technician_certifications_pkey PRIMARY KEY (id);


--
-- Name: technician_certifications technician_certifications_technician_id_certification_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_certifications
    ADD CONSTRAINT technician_certifications_technician_id_certification_id_key UNIQUE (technician_id, certification_id);


--
-- Name: technician_skills technician_skills_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_skills
    ADD CONSTRAINT technician_skills_pkey PRIMARY KEY (id);


--
-- Name: technician_skills technician_skills_technician_id_skill_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_skills
    ADD CONSTRAINT technician_skills_technician_id_skill_id_key UNIQUE (technician_id, skill_id);


--
-- Name: technicians technicians_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technicians
    ADD CONSTRAINT technicians_employee_id_key UNIQUE (employee_id);


--
-- Name: technicians technicians_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technicians
    ADD CONSTRAINT technicians_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_order_inventory_orders work_order_inventory_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_order_inventory_orders
    ADD CONSTRAINT work_order_inventory_orders_pkey PRIMARY KEY (id);


--
-- Name: workshop_settings workshop_settings_company_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workshop_settings
    ADD CONSTRAINT workshop_settings_company_id_key UNIQUE (company_id);


--
-- Name: workshop_settings workshop_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workshop_settings
    ADD CONSTRAINT workshop_settings_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_logs_table_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_table_name ON public.audit_logs USING btree (table_name);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_company_certifications_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_company_certifications_company_id ON public.company_certifications USING btree (company_id);


--
-- Name: idx_company_skills_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_company_skills_company_id ON public.company_skills USING btree (company_id);


--
-- Name: idx_customer_equipment_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customer_equipment_company_id ON public.customer_equipment USING btree (company_id);


--
-- Name: idx_customer_equipment_customer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customer_equipment_customer_id ON public.customer_equipment USING btree (customer_id);


--
-- Name: idx_customer_equipment_equipment_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customer_equipment_equipment_type_id ON public.customer_equipment USING btree (equipment_type_id);


--
-- Name: idx_customer_equipment_serial_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customer_equipment_serial_number ON public.customer_equipment USING btree (serial_number);


--
-- Name: idx_customers_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customers_company_id ON public.customers USING btree (company_id);


--
-- Name: idx_customers_phone; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customers_phone ON public.customers USING btree (phone);


--
-- Name: idx_equipment_intake_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_intake_company_id ON public.equipment_intake USING btree (company_id);


--
-- Name: idx_equipment_intake_intake_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_intake_intake_date ON public.equipment_intake USING btree (intake_date);


--
-- Name: idx_equipment_intake_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_intake_job_id ON public.equipment_intake USING btree (job_id);


--
-- Name: idx_equipment_inventory_compatibility_equipment_type_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_inventory_compatibility_equipment_type_id ON public.equipment_inventory_compatibility USING btree (equipment_type_id);


--
-- Name: idx_equipment_inventory_compatibility_part_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_inventory_compatibility_part_id ON public.equipment_inventory_compatibility USING btree (part_id);


--
-- Name: idx_equipment_status_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_company_id ON public.equipment_status USING btree (company_id);


--
-- Name: idx_equipment_status_current_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_current_status ON public.equipment_status USING btree (current_status);


--
-- Name: idx_equipment_status_history_changed_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_history_changed_at ON public.equipment_status_history USING btree (changed_at);


--
-- Name: idx_equipment_status_history_equipment_status_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_history_equipment_status_id ON public.equipment_status_history USING btree (equipment_status_id);


--
-- Name: idx_equipment_status_history_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_history_job_id ON public.equipment_status_history USING btree (job_id);


--
-- Name: idx_equipment_status_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_status_job_id ON public.equipment_status USING btree (job_id);


--
-- Name: idx_equipment_types_brand; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_types_brand ON public.equipment_types USING btree (brand);


--
-- Name: idx_equipment_types_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_types_category ON public.equipment_types USING btree (category);


--
-- Name: idx_equipment_types_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_equipment_types_company_id ON public.equipment_types USING btree (company_id);


--
-- Name: idx_intake_photos_equipment_intake_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_intake_photos_equipment_intake_id ON public.intake_photos USING btree (equipment_intake_id);


--
-- Name: idx_inventory_order_status_log_changed_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_order_status_log_changed_by ON public.inventory_order_status_log USING btree (changed_by);


--
-- Name: idx_inventory_order_status_log_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_order_status_log_created_at ON public.inventory_order_status_log USING btree (created_at DESC);


--
-- Name: idx_inventory_order_status_log_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_inventory_order_status_log_order_id ON public.inventory_order_status_log USING btree (order_id);


--
-- Name: idx_job_parts_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_parts_job_id ON public.job_parts USING btree (job_id);


--
-- Name: idx_job_photos_job_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_job_photos_job_id ON public.job_photos USING btree (job_id);


--
-- Name: idx_jobs_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_company_id ON public.jobs USING btree (company_id);


--
-- Name: idx_jobs_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_created_at ON public.jobs USING btree (created_at);


--
-- Name: idx_jobs_customer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_customer_id ON public.jobs USING btree (customer_id);


--
-- Name: idx_jobs_delivery_scheduled_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_delivery_scheduled_date ON public.jobs USING btree (delivery_scheduled_date);


--
-- Name: idx_jobs_delivery_technician_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_delivery_technician_id ON public.jobs USING btree (delivery_technician_id);


--
-- Name: idx_jobs_due_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_due_date ON public.jobs USING btree (due_date);


--
-- Name: idx_jobs_estimated_completion_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_estimated_completion_date ON public.jobs USING btree (estimated_completion_date);


--
-- Name: idx_jobs_location_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_location_type ON public.jobs USING btree (location_type);


--
-- Name: idx_jobs_scheduled_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_scheduled_date ON public.jobs USING btree (scheduled_date);


--
-- Name: idx_jobs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_status ON public.jobs USING btree (status);


--
-- Name: idx_jobs_technician_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_jobs_technician_id ON public.jobs USING btree (technician_id);


--
-- Name: idx_notifications_recipient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_recipient_id ON public.notifications USING btree (recipient_id);


--
-- Name: idx_notifications_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_notifications_status ON public.notifications USING btree (status);


--
-- Name: idx_parts_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parts_company_id ON public.parts USING btree (company_id);


--
-- Name: idx_parts_part_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parts_part_number ON public.parts USING btree (part_number);


--
-- Name: idx_parts_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_parts_status ON public.parts USING btree (status);


--
-- Name: idx_technician_certifications_certification_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technician_certifications_certification_id ON public.technician_certifications USING btree (certification_id);


--
-- Name: idx_technician_certifications_technician_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technician_certifications_technician_id ON public.technician_certifications USING btree (technician_id);


--
-- Name: idx_technician_skills_skill_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technician_skills_skill_id ON public.technician_skills USING btree (skill_id);


--
-- Name: idx_technician_skills_technician_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technician_skills_technician_id ON public.technician_skills USING btree (technician_id);


--
-- Name: idx_technicians_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technicians_company_id ON public.technicians USING btree (company_id);


--
-- Name: idx_technicians_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_technicians_user_id ON public.technicians USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_email_verification_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email_verification_token ON public.users USING btree (email_verification_token);


--
-- Name: idx_users_password_reset_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_password_reset_token ON public.users USING btree (password_reset_token);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_work_order_inventory_orders_ordered_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_work_order_inventory_orders_ordered_at ON public.work_order_inventory_orders USING btree (ordered_at);


--
-- Name: idx_work_order_inventory_orders_ordered_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_work_order_inventory_orders_ordered_by ON public.work_order_inventory_orders USING btree (ordered_by);


--
-- Name: idx_work_order_inventory_orders_part_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_work_order_inventory_orders_part_id ON public.work_order_inventory_orders USING btree (part_id);


--
-- Name: idx_work_order_inventory_orders_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_work_order_inventory_orders_status ON public.work_order_inventory_orders USING btree (status);


--
-- Name: idx_work_order_inventory_orders_work_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_work_order_inventory_orders_work_order_id ON public.work_order_inventory_orders USING btree (work_order_id);


--
-- Name: idx_workshop_settings_company_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_workshop_settings_company_id ON public.workshop_settings USING btree (company_id);


--
-- Name: work_order_inventory_orders trigger_update_work_order_inventory_orders_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trigger_update_work_order_inventory_orders_updated_at BEFORE UPDATE ON public.work_order_inventory_orders FOR EACH ROW EXECUTE FUNCTION public.update_work_order_inventory_orders_updated_at();


--
-- Name: companies update_companies_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_companies_updated_at BEFORE UPDATE ON public.companies FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: company_certifications update_company_certifications_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_company_certifications_updated_at BEFORE UPDATE ON public.company_certifications FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: company_skills update_company_skills_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_company_skills_updated_at BEFORE UPDATE ON public.company_skills FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: customer_equipment update_customer_equipment_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_customer_equipment_updated_at BEFORE UPDATE ON public.customer_equipment FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: customers update_customers_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: equipment_intake update_equipment_intake_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_equipment_intake_updated_at BEFORE UPDATE ON public.equipment_intake FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: equipment_inventory_compatibility update_equipment_inventory_compatibility_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_equipment_inventory_compatibility_updated_at BEFORE UPDATE ON public.equipment_inventory_compatibility FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: equipment_status update_equipment_status_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_equipment_status_updated_at BEFORE UPDATE ON public.equipment_status FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: equipment_types update_equipment_types_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_equipment_types_updated_at BEFORE UPDATE ON public.equipment_types FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: jobs update_jobs_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_jobs_updated_at BEFORE UPDATE ON public.jobs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: mail_settings update_mail_settings_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_mail_settings_updated_at BEFORE UPDATE ON public.mail_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: parts update_parts_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_parts_updated_at BEFORE UPDATE ON public.parts FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: technician_certifications update_technician_certifications_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_technician_certifications_updated_at BEFORE UPDATE ON public.technician_certifications FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: technicians update_technicians_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_technicians_updated_at BEFORE UPDATE ON public.technicians FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: workshop_settings update_workshop_settings_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER update_workshop_settings_updated_at BEFORE UPDATE ON public.workshop_settings FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: company_certifications company_certifications_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_certifications
    ADD CONSTRAINT company_certifications_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: company_skills company_skills_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.company_skills
    ADD CONSTRAINT company_skills_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: customer_equipment customer_equipment_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_equipment
    ADD CONSTRAINT customer_equipment_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: customer_equipment customer_equipment_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_equipment
    ADD CONSTRAINT customer_equipment_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customer_equipment customer_equipment_equipment_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_equipment
    ADD CONSTRAINT customer_equipment_equipment_type_id_fkey FOREIGN KEY (equipment_type_id) REFERENCES public.equipment_types(id) ON DELETE RESTRICT;


--
-- Name: customers customers_assigned_account_manager_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_assigned_account_manager_fkey FOREIGN KEY (assigned_account_manager) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customers customers_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: customers customers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: equipment_intake equipment_intake_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_intake
    ADD CONSTRAINT equipment_intake_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: equipment_intake equipment_intake_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_intake
    ADD CONSTRAINT equipment_intake_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: equipment_intake equipment_intake_received_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_intake
    ADD CONSTRAINT equipment_intake_received_by_fkey FOREIGN KEY (received_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: equipment_inventory_compatibility equipment_inventory_compatibility_equipment_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_inventory_compatibility
    ADD CONSTRAINT equipment_inventory_compatibility_equipment_type_id_fkey FOREIGN KEY (equipment_type_id) REFERENCES public.equipment_types(id) ON DELETE CASCADE;


--
-- Name: equipment_inventory_compatibility equipment_inventory_compatibility_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_inventory_compatibility
    ADD CONSTRAINT equipment_inventory_compatibility_part_id_fkey FOREIGN KEY (part_id) REFERENCES public.parts(id) ON DELETE CASCADE;


--
-- Name: equipment_status equipment_status_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: equipment_status_history equipment_status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status_history
    ADD CONSTRAINT equipment_status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: equipment_status_history equipment_status_history_equipment_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status_history
    ADD CONSTRAINT equipment_status_history_equipment_status_id_fkey FOREIGN KEY (equipment_status_id) REFERENCES public.equipment_status(id) ON DELETE CASCADE;


--
-- Name: equipment_status_history equipment_status_history_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status_history
    ADD CONSTRAINT equipment_status_history_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: equipment_status equipment_status_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_status
    ADD CONSTRAINT equipment_status_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: equipment_types equipment_types_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.equipment_types
    ADD CONSTRAINT equipment_types_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: work_order_inventory_orders fk_work_order_inventory_orders_part; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_order_inventory_orders
    ADD CONSTRAINT fk_work_order_inventory_orders_part FOREIGN KEY (part_id) REFERENCES public.parts(id) ON DELETE RESTRICT;


--
-- Name: work_order_inventory_orders fk_work_order_inventory_orders_technician; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_order_inventory_orders
    ADD CONSTRAINT fk_work_order_inventory_orders_technician FOREIGN KEY (ordered_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: work_order_inventory_orders fk_work_order_inventory_orders_work_order; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.work_order_inventory_orders
    ADD CONSTRAINT fk_work_order_inventory_orders_work_order FOREIGN KEY (work_order_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: intake_photos intake_photos_equipment_intake_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.intake_photos
    ADD CONSTRAINT intake_photos_equipment_intake_id_fkey FOREIGN KEY (equipment_intake_id) REFERENCES public.equipment_intake(id) ON DELETE CASCADE;


--
-- Name: intake_photos intake_photos_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.intake_photos
    ADD CONSTRAINT intake_photos_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: inventory_order_status_log inventory_order_status_log_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_order_status_log
    ADD CONSTRAINT inventory_order_status_log_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: inventory_order_status_log inventory_order_status_log_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventory_order_status_log
    ADD CONSTRAINT inventory_order_status_log_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.work_order_inventory_orders(id) ON DELETE CASCADE;


--
-- Name: job_parts job_parts_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_parts
    ADD CONSTRAINT job_parts_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_parts job_parts_part_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_parts
    ADD CONSTRAINT job_parts_part_id_fkey FOREIGN KEY (part_id) REFERENCES public.parts(id) ON DELETE RESTRICT;


--
-- Name: job_photos job_photos_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_photos
    ADD CONSTRAINT job_photos_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: job_photos job_photos_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.job_photos
    ADD CONSTRAINT job_photos_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: jobs jobs_delivery_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_delivery_technician_id_fkey FOREIGN KEY (delivery_technician_id) REFERENCES public.technicians(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_equipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_equipment_id_fkey FOREIGN KEY (equipment_id) REFERENCES public.customer_equipment(id) ON DELETE SET NULL;


--
-- Name: jobs jobs_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.technicians(id) ON DELETE SET NULL;


--
-- Name: mail_settings mail_settings_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT mail_settings_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: parts parts_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: parts parts_equipment_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_equipment_type_id_fkey FOREIGN KEY (equipment_type_id) REFERENCES public.equipment_types(id) ON DELETE SET NULL;


--
-- Name: technician_certifications technician_certifications_certification_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_certifications
    ADD CONSTRAINT technician_certifications_certification_id_fkey FOREIGN KEY (certification_id) REFERENCES public.company_certifications(id) ON DELETE CASCADE;


--
-- Name: technician_certifications technician_certifications_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_certifications
    ADD CONSTRAINT technician_certifications_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.technicians(id) ON DELETE CASCADE;


--
-- Name: technician_skills technician_skills_skill_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_skills
    ADD CONSTRAINT technician_skills_skill_id_fkey FOREIGN KEY (skill_id) REFERENCES public.company_skills(id) ON DELETE CASCADE;


--
-- Name: technician_skills technician_skills_technician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technician_skills
    ADD CONSTRAINT technician_skills_technician_id_fkey FOREIGN KEY (technician_id) REFERENCES public.technicians(id) ON DELETE CASCADE;


--
-- Name: technicians technicians_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technicians
    ADD CONSTRAINT technicians_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- Name: technicians technicians_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.technicians
    ADD CONSTRAINT technicians_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workshop_settings workshop_settings_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.workshop_settings
    ADD CONSTRAINT workshop_settings_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict I8pavdUMYOheJqYNFRNaP0YV29AdHxVz7pse3AE7RD5AYwTIweTnm0yQj9NPxLN

